<html>
  <head>
   <title>Nav Bar</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <div id = "nav">
   <nav class="navbar navbar" id="top" role="navigation">
       <ul class="nav navbar-nav">
         <li><a href="/static_pages/home">Home</a></li>
           <li><a href="/static_pages/about_me">About Me</a></li>
           <!-- Link above to about_me page. -->
           <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/posts/food_and_body">Food & Body 101</a></li>
             <li><a href="/posts/lifestyle">Lifestyle</a></li>
         </ul>
           </li>
         <li><a href="/posts/recipes">Recipes</a></li>
           <li><a href="/static_pages/services">Services</a></li>
           <li><a href="/static_pages/contact">Contact</a></li>
           <li><a href="/partials/_modal.html.erb" class="btn btn-sm btn-default"
   data-toggle="modal" data-controls-modal="modal-from-dom" data-backdrop="static" data-keyboard="true" data-target="#loginModal">Admin Login</a></li>
           <li><%= link_to 'Admin Post', new_post_path %></li>
   </nav>
  </div>
  </body>
 </html>
