<html>
  <head>
   <title>Nav Bar</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <div id = "nav">
   <nav class="navbar navbar" id="top" role="navigation">
       <ul class="nav navbar-nav">
         <li><a href="/static_pages/home">Home</a></li>
           <li><a href="/static_pages/about_me">About Me</a></li>
           <!-- Link above to about_me page. -->
           <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><%= link_to 'Food & Body 101', posts_path %></li>
             <li><a href="/posts/lifestyle">Lifestyle</a></li>
         </ul>
           </li>
         <li><a href="/posts/recipes">Recipes</a></li>
           <li><a href="/static_pages/services">Services</a></li>
           <li><a href="/static_pages/contact">Contact</a></li>

           <% if logged_in?  %>
           <li><%= link_to 'Admin Post', new_post_path %></li>
           <li><%= link_to 'Log out', session_path(current_user), class: "btn btn-default navbar-btn", type: "button", method: :delete %></li>

           <% else %>
            <li><a href="/users/login">Admin Login</a></li>
           <% end %>
   </nav>
  </div>
  </body>
 </html>
