/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$content-width: 1400px;

#header {
  // font-family: Futura;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  text-align: center;
}


body {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
}
.jumbotron {
  width: 100%;
  height: 200px;
  background-image: url("http://cache2.asset-cache.net/xd/462877436.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE4802515315C2FBF3A362B6A5D266AEA58DB9900A7AE736BE77601D6935A057785E5");
  background-size: cover;
  height: 30rem;
}

.container {
  text-align: center;
}
a {
  color: black;
}

li {
  padding: 20px;
}

#top {
  text-align: center;
}
.navbar-nav {
  display: inline;
}

#dana {
  width: 50%;
  border-radius: 8px;
}

#content {
  font-size: 1.25em;
}

#copy {
  display: inline-block;
  text-align: left;
}
#social {
  display: flex;
  justify-content: flex-end;
}

#bottom p {
  margin: 2em;
}

.postpic {
  width: 400px;
  height: auto;
  border-radius: 8px;
  margin: 30px;
}

// Contact styling below

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
