<ul class="cats">
  <% @cats.each do |cat| %>
    <h3><%= cat.name %></h3>
    <!-- Ultimately, the category will determine which page the post is shown on. -->
    <button type="button" id = "see-post" class="btn btn-success"><%= link_to "Back Home",
   root_path%></button>
  <% end %>
</ul>
