<!-- Show all posts for a specific category. -->

<div id="posts">
<% @posts.each do |post| %>
    <h1>Title: <%= post.title %></h1>
    <h4>Reviewed by Dana <%= time_ago_in_words(post.created_at) %> ago </h4>
    <p id = "content"><%=post.text%></p>
    <p>Upvote | Downvote</p>
    <!-- Add upvote/downvote model later? -->
    <button type="button" id = "see-post" class="btn btn-success"><%= link_to 'Back to Posts',
   posts_path%></button>
<% end %>
</div>
